:root {
  --black: #333;
  --accent: #f7931e;
  --midnight-blue: #002433;
  --steel-blue: #027db1;
}

.w-embed-youtubevideo {
  width: 100%;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-position: 50%;
  background-size: cover;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

body {
  color: var(--black);
  font-family: Opensans, sans-serif;
  font-size: 16px;
  line-height: 1.25;
}

a {
  color: var(--accent);
  text-decoration: underline;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.image-2 {
  height: 60px;
}

.navbar {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.hero-text {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 32px;
}

.hero-section {
  height: 100vh;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.menu-button {
  color: var(--midnight-blue);
}

.section {
  padding: 20px;
}

.footer-section {
  color: #333;
  background-color: #fff;
  margin-top: 40px;
  padding: 40px 20px;
}

.columns {
  color: #222;
  display: flex;
}

.footer-links-left {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
}

.project-image {
  width: 300px;
  float: right;
  padding: 20px;
}

.nav-link.w--current {
  color: var(--steel-blue);
}

.footer-link {
  color: var(--black);
  text-align: center;
}

.tabs-menu {
  border-bottom: 1px solid var(--midnight-blue);
}

.dark-body {
  background-color: var(--midnight-blue);
  color: #fff;
}

.sponsor-image-initiative {
  max-height: 200px;
  max-width: 400px;
}

.sponsors {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.sponsor-image-platin {
  max-height: 175px;
  max-width: 350px;
}

.sponsor-image-gold {
  max-height: 125px;
  max-width: 250px;
}

.sponsor-image-silver {
  max-height: 100px;
  max-width: 200px;
}

.sponsor-image-bronze {
  max-height: 100px;
  max-width: 150px;
}

.sponsor-heading {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.sponsor-image-white {
  max-height: 100px;
  max-width: 120px;
}

.hero-image {
  width: 200px;
}

.hero-container {
  text-align: center;
  margin-top: -80px;
}

.footer-links-right {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}

.members {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
}

.member-image {
  width: 200px;
}

.member-text {
  text-align: center;
  margin-top: 10px;
}

.tabs-content {
  margin-top: 20px;
}

.tabs {
  margin-top: 40px;
}

.subtitle {
  margin-top: -10px;
  margin-bottom: 20px;
  font-weight: 700;
}

.tab-link {
  background-color: #fff;
}

.tab-link.w--current {
  color: #fff;
  background-color: #027db1;
}

.footer-links-middle {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.paragraph-subtitle {
  margin-top: -5px;
  font-size: 1.2em;
  font-style: italic;
}

.slide-1 {
  background-image: url('../images/halcyon_uhrturm.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.slider {
  height: 800px;
  background-color: rgba(255, 255, 255, 0);
}

.slide-2 {
  background-image: url('../images/team_euroc_2023.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.slide-3 {
  background-image: url('../images/featured_03.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.slide-4 {
  background-image: url('../images/featured_04.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.partner-link-block {
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: visible;
}

.project-image-rocket-horizontal {
  padding-top: 20px;
  padding-bottom: 20px;
}

.project-image-rocket-vertical {
  height: 60vh;
  padding-top: 20px;
  padding-bottom: 20px;
  display: none;
}

.home-text-container {
  background-color: rgba(0, 36, 51, .8);
}

.newsletter-signups {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  display: flex;
}

.newsletter-button-english {
  border: 4px dashed var(--accent);
  color: var(--accent);
  text-align: center;
  background-color: rgba(56, 152, 236, 0);
  border-radius: 20px;
}

.newsletter-button-english:hover {
  background-color: rgba(247, 147, 30, .1);
}

.newsletter-button-german {
  border: 4px dashed var(--accent);
  color: var(--accent);
  text-align: center;
  background-color: rgba(247, 147, 30, 0);
  border-radius: 20px;
}

.newsletter-button-german:hover {
  background-color: rgba(247, 147, 30, .1);
}

.banner-section {
  background-color: var(--accent);
  color: var(--midnight-blue);
  padding: 5px 20px;
}

.banner-text {
  text-align: center;
}

.banner-link {
  color: var(--midnight-blue);
}

.hero-text-award {
  color: var(--accent);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 32px;
}

@media screen and (max-width: 991px) {
  .nav-menu, .menu-button.w--open {
    background-color: #fff;
  }

  .icon {
    color: var(--midnight-blue);
  }
}

@media screen and (max-width: 767px) {
  .project-image {
    width: 200px;
  }

  .slider {
    height: 600px;
  }
}

@media screen and (max-width: 479px) {
  .hero-text {
    font-size: 24px;
  }

  .columns {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-wrap: wrap;
  }

  .project-image {
    width: 90px;
    padding: 10px 0 10px 10px;
  }

  .footer-link {
    text-align: left;
  }

  .sponsor-image-initiative, .sponsor-image-platin {
    max-width: 250px;
  }

  .footer-links-right {
    align-items: flex-start;
  }

  .members {
    justify-content: space-around;
  }

  .footer-links-middle {
    align-items: flex-start;
  }

  .project-image-rocket-horizontal {
    padding: 10px;
    display: none;
  }

  .project-image-rocket-vertical {
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 10px;
    display: block;
  }

  .hero-text-award {
    font-size: 22px;
  }
}


@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}