.w-embed-youtubevideo {
  width: 100%;
  position: relative;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-size: cover;
  background-position: 50% 50%;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

body {
  font-family: Opensans, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 1.25;
}

a {
  color: #f7931e;
  text-decoration: underline;
}

.utility-page-wrap {
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

.utility-page-content {
  display: flex;
  width: 260px;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.image-2 {
  height: 60px;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
}

.hero-text {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 32px;
  text-align: center;
}

.hero-section {
  display: flex;
  height: 100vh;
  padding-right: 20px;
  padding-left: 20px;
  align-items: center;
}

.menu-button {
  color: #002433;
}

.section {
  padding: 20px;
}

.footer-section {
  margin-top: 40px;
  padding: 40px 20px;
  background-color: #fff;
  color: #333;
}

.columns {
  display: flex;
  color: #222;
}

.footer-links-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.project-image {
  width: 300px;
  padding: 20px;
  float: right;
}

.nav-link.w--current {
  color: #027db1;
}

.footer-link {
  color: #333;
  text-align: center;
}

.tabs-menu {
  border-bottom: 1px solid #002433;
}

.dark-body {
  background-color: #002433;
  color: #fff;
}

.sponsor-image-initiative {
  max-height: 200px;
  max-width: 400px;
}

.sponsors {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.sponsor-image-platin {
  max-height: 175px;
  max-width: 350px;
}

.sponsor-image-gold {
  max-height: 125px;
  max-width: 250px;
}

.sponsor-image-silver {
  max-height: 100px;
  max-width: 200px;
}

.sponsor-image-bronze {
  max-height: 100px;
  max-width: 150px;
}

.sponsor-heading {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

.sponsor-image-white {
  max-height: 100px;
  max-width: 120px;
}

.hero-image {
  width: 200px;
}

.hero-container {
  margin-top: -80px;
  text-align: center;
}

.footer-links-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.members {
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.member-image {
  width: 200px;
}

.member-text {
  margin-top: 10px;
  text-align: center;
}

.tabs-content {
  margin-top: 20px;
}

.tabs {
  margin-top: 40px;
}

.subtitle {
  margin-top: -10px;
  margin-bottom: 20px;
  font-weight: 700;
}

.tab-link {
  background-color: #fff;
}

.tab-link.w--current {
  background-color: #027db1;
  color: #fff;
}

.footer-links-middle {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.paragraph-subtitle {
  margin-top: -5px;
  font-size: 1.2em;
  font-style: italic;
}

.slide-1 {
  background-image: url('../images/featured_01.webp');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.slider {
  height: 800px;
  background-color: hsla(0, 0%, 100%, 0);
}

.slide-2 {
  background-image: url('../images/featured_02.webp');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide-3 {
  background-image: url('../images/featured_03.webp');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide-4 {
  background-image: url('../images/featured_04.webp');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.partner-link-block {
  display: flex;
  overflow: visible;
  justify-content: center;
  align-items: center;
}

.project-image-rocket-vertical {
  padding-top: 20px;
  padding-bottom: 20px;
}

.project-image-rocket-horizontal {
  display: none;
  height: 60vh;
  padding-top: 20px;
  padding-bottom: 20px;
}

.home-text-container {
  background-color: rgba(0, 36, 51, 0.8);
}

.newsletter-signups {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.newsletter-button-english {
  border-style: dashed;
  border-width: 4px;
  border-color: #f7931e;
  border-radius: 20px;
  background-color: rgba(56, 152, 236, 0);
  color: #f7931e;
  text-align: center;
}

.newsletter-button-english:hover {
  background-color: rgba(247, 147, 30, 0.1);
}

.newsletter-button-german {
  border-style: dashed;
  border-width: 4px;
  border-color: #f7931e;
  border-radius: 20px;
  background-color: rgba(247, 147, 30, 0);
  color: #f7931e;
  text-align: center;
}

.newsletter-button-german:hover {
  background-color: rgba(247, 147, 30, 0.1);
}

.banner-section {
  padding: 5px 20px;
  background-color: #f7931e;
  color: #002433;
}

.banner-text {
  text-align: center;
}

.banner-link {
  color: #002433;
}

@media screen and (max-width: 991px) {
  .nav-menu {
    background-color: #fff;
  }

  .menu-button.w--open {
    background-color: #fff;
  }

  .icon {
    color: #002433;
  }
}

@media screen and (max-width: 767px) {
  .project-image {
    width: 200px;
  }

  .slider {
    height: 600px;
  }
}

@media screen and (max-width: 479px) {
  .hero-text {
    font-size: 24px;
  }

  .columns {
    flex-wrap: wrap;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .project-image {
    width: 100px;
    padding: 10px 0px 10px 10px;
  }

  .footer-link {
    text-align: left;
  }

  .sponsor-image-initiative {
    max-width: 250px;
  }

  .sponsor-image-platin {
    max-width: 250px;
  }

  .footer-links-right {
    align-items: flex-start;
  }

  .members {
    justify-content: space-around;
  }

  .footer-links-middle {
    align-items: flex-start;
  }

  .project-image-rocket-vertical {
    display: none;
    padding: 10px;
  }

  .project-image-rocket-horizontal {
    display: block;
    padding: 10px;
    float: right;
  }
}

@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}